.movie-row {
  margin: 20px 0;
  overflow: hidden;
}

.movie-row h2 {
  margin-bottom: 20px;
  color: white;
}

.movie-card-container {
  flex: 0 0 calc(20% - 5px);
  padding: 0 10px;
  transition: transform 0.3s ease;
}

.movie-card-container:hover {
  transform: scale(1.05);
}


.movie-card {
  width: 100%;
  border-radius: 10px;
}

.carousel-control-prev{
  transform: translateX(-15%);
}
.carousel-control-next{
  transform: translateX(5%);  
}
